.form__contenier {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form__legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}

.form__header {
    padding: 5px;
    background-color: lightgrey;
}

.form__header--tasks {
    background-color: whitesmoke;
    border-bottom: 2px solid lightgrey;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.form__input {
    min-width: 80%;
    padding-left: 10px;
    margin: 10px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    padding: 5px;
}

.form__field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    border-bottom: 10px solid lightgrey;
}

.form__button {
    background-color:hsl(189, 100%, 23%);
    border: none;
    color: whitesmoke;
    padding: 5px;
    margin: 10px;
}
