.form__contenier {
    
}

.form__legend {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.form__header {
    padding-left: 20px;
    margin: 10px 0px 10px 0px;
}

.form__header--tasks {
    border-bottom: 1px solid gray;
    padding: 20px;
}

.form__input {
    min-width: 80%;
    padding-left: 10px;
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
}

.form__field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}

.form__button {
    background-color:hsl(189, 100%, 23%);
    border: none;
    color: whitesmoke;
    padding: 5px;
    margin: 10px;
}
