.list__contenier {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-left: 10px;
}

.list__item {
    display: flex;
    justify-content: flex-start;
    max-width: 98%;
    list-style: none;
    border-bottom: 1px solid lightgrey;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
}

.list__button--delete {
    border: none;
    text-decoration: none;
}

.list__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
    padding-left: 20px;
}

.list__task {
    display: flex;
    align-self: flex-start;
    flex-basis: 75vh;
    padding: 5px;
    margin: 0px;
    text-decoration: none;
}

.list__task--done {
    
}