.list__contenier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.list__item {
    display: flex;
    justify-content: flex-start;
    flex-basis: 76vh;
    list-style: none;
    margin: 10px;    
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    display: flex;
    align-items: center;
    max-width: fit-content;
    text-decoration: none;
    border: none;
}

.list__button--delete {
    border: none;
    text-decoration: none;
}

.list__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
    padding-left: 20px;
}

.list__task {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
}

.list__task--done {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0px;
    text-decoration: none;
}